.js #donations-donation-form-page-one #edit-continue {
  display: none;
}

/**
 * Primary colors do the progress breadcrumb.
 * Dark blue: #009BD3
 * Light blue: #00AAE7
 */

#donations-breadcrb{
  color: #FFF;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 7px #777;
  margin-left:5px;
}
#donations-breadcrb li{
  float: left;
  height:50px;
  width: 25%;
  background: url("../images/donation-progress-bg.png") 100% 100% no-repeat #FFF;
  color:#797979;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#donations-breadcrb li.first{
  border-radius:10px 0 0 10px;
}
#donations-breadcrb li.last {
  background-image: none;
  border-radius: 0 10px 10px 0;
}
#donations-breadcrb li.nobg {
  background-image: none;
}
#donations-breadcrb li.active {
  background-color: #009BD3;
  background-position: 100% 50%; 
  color:#FFF;
}

#donations-breadcrb li.completed {
  background-color: #00AAE7;
  background-position: 100% 0%; 
  color:#FFF;
}

/* Donation progress bar */
.donation-progress {
  clear: both;
  height:100px;
  background: url("../images/scale_bg.png") 50% 50% no-repeat;
  border: 1px solid #EEE;
  border-radius: 10px;
  box-shadow: 0 0 7px #777;
  /* This is tempural fix for the hidden container overflow in the samaritans
   * theme. 
   * TODO: Must be removed once the theme is migrated to zen.
   */
  position: relative;
  left: 3px;
}
#donation-progress-bar .funds-needed {
  margin-bottom: 10px;
}
.donation-progress .wrapper {
  position: relative;
  width: 539px;
  height: 100px;
  top: 33px;
  left:10px;
}
.donation-progress .bar {
  width: 539px;
}

.donation-progress .progress {
  background: url("../images/bar.png");
  height: 34px;
  border-radius: 5px;
  box-shadow: 0 0 7px #555;
  z-index: 2;
}

.donation-progress .current_total {
  position: absolute;
  height: 100px;
  top: -33px;
  width: auto;
  z-index: 2;
  background: url("../images/border.png") no-repeat;
}
.donation-progress .current_total.tall{
  background: url("../images/border-tall.png") no-repeat;
}
.donation-progress .current_total.left.low {
  background-position: 0 67px;
}
.donation-progress .current_total.left.tall {
  background-position: 0 64px;
}
.donation-progress .current_total.right.low {
  background-position: 100% 67px;
}
.donation-progress .current_total.right.tall {
  background-position: 100% 65px;
}
.donation-progress .current_total.right.low {
  background-position: 100% 67px;
}
.donation-progress .current_total_inner {
  height: 100px;
  width: auto;
}
.donation-progress .percentage {
  position: relative;
  margin-left:-23px;
  display: block;
  width: 46px;
  height: 33px;
  padding-top:5px;
  background: url("../images/pin.png");
  text-align: center;
  z-index: 4;
}

.donation-progress .current_total.right .percentage {
  left: 100%;
}
.donation-progress .amount {
  position: relative;
  top: 35%;
  display: block;
  padding: 0 5px;
}
/*
 * Pages styles
 */
.donation-box {
/*   border: 1px solid #EEE; */
  border-radius: 10px;
  box-shadow: 0 0 7px #777;
  margin-top:20px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.donation-header {
  border-radius: 10px 10px 0 0;
  background: #00AAE7;
  color:#FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding:10px 20px;
}
.donation-box-inner {
  padding:10px 20px;
}
.donation-box .form-item label{
  color: #9d9d9d;
  font-weight: normal;
}

#donations-donation-form-page-one .form-text {
  border: 1px solid #CCC;
  border-radius: 7px;
  box-shadow:0 0 4px #AAA;
  width:330px;
  padding: 5px 10px;
}
#donations-donation-form-page-one .error {
  background: #e8c2c2;
  border: 1px solid red;
}
/* Buttons */
.donation-box-inner input[type="submit"] {
  background: #00AAE7;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  
}
.donation-box-inner input[type="submit"]:hover {
  background: #1C7FA3;
}
.donation-box-inner input[type="submit"]#edit-submit-to-checkout,
.donation-box-inner input[type="submit"]#edit-finish {
  float: right;
  width: 150px;
  text-align: center;
}
#buttons-box {
  margin-bottom: 5px;
}
/* Page 1 styles */
#donation-page-1 .form-radios .form-item,
#donation-page-1 .form-radios .form-item label.option{
  line-height: 30px;
  display: block;
}
#edit-method-bank-transfer-wrapper label.option span{
  font-size: 18px;
  color: #00AAE7;
}
#edit-method-epaybg-wrapper span,
#edit-method-paypal-wrapper span,
#edit-method-cc-wrapper span {
  text-indent: -9999px;
  display: inline-block;
}
#edit-method-epaybg-wrapper label.option {
  background: url("../images/epay-logo.png") 20px 50% no-repeat;
}
#edit-method-epaybg-wrapper input {
  margin-right: 90px;
}
#edit-method-paypal-wrapper label.option {
  background: url("../images/paypal-logo.png") 20px 50% no-repeat;
}
#edit-method-paypal-wrapper input {
  margin-right: 97px;
}
#edit-method-cc-wrapper label.option {
  background: url("../images/borika.png") 20px 50% no-repeat;
}

#edit-method-cc-wrapper input {
  margin-right: 303px;
}
#donation-page-1 .donation-box-inner input[type="submit"] {
  padding:6px 25px;
  margin:4px 0 0 20px; 
}
#amount-currency-wrapper {
  overflow: hidden;
  box-shadow:0 0 4px #AAA;
  border-radius: 7px;
  float: left;
  margin: 5px 0;
}
#details-wrapper {
  float: left;
}
#details-wrapper .form-item{
  margin: 0;
  padding: 0;
}
#amount-currency-wrapper .form-item {
  margin: 0;
  padding: 0;
}
#amount-currency-wrapper input{
  border: none;
}
#amount-currency-wrapper div{
  float: left;
}
#amount-currency-wrapper #edit-amount-wrapper input {
  border: 1px solid #CCC;
  border-radius: 7px 0 0 7px;
  padding: 5px 10px;
  width: 190px;
}
#amount-currency-wrapper #edit-amount-wrapper input.error {
  border: 1px solid red;
}
#edit-currency-wrapper {
  width: 80px;
  overflow:hidden;
  border: 1px solid #CCC;
  border-left: none;
  border-radius: 0 7px 7px 0 ;
  background: url("../images/currency-bg.png") 100% 0 no-repeat #EEE;
}
#amount-currency-wrapper #edit-currency-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 140%;
  background: none;
  border: none;
  padding: 4px 10px;
}
.amount-descr {
  clear: both;
}

/* Page 2 styles */
.page-2 .summary-donation-confirmation{
  background: none;
  padding:0;
  margin-bottom: 0;
}
.js #edit-document-wrapper .description,
.js #edit-anonym-donor-wrapper .description{
  display: none;
  position: fixed;
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow:0 0 4px #AAA;
  width: 200px;
  min-height:100px;
  padding: 10px;
}
#edit-document-wrapper span.donor-help,
#edit-anonym-donor-wrapper span.donor-help{
  display: none;
}
.js #edit-document-wrapper span.donor-help,
.js #edit-anonym-donor-wrapper span.donor-help{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/info-btn.gif") 0 0 no-repeat;
  cursor: pointer;
}
.js #edit-document-wrapper span.donor-help:hover,
.js #edit-anonym-donor-wrapper span.donor-help:hover{
  background-position: 0 100%;
}
/* Page 3 styles */
span.bold{
  font-weight: bold;
  font-size: 16px;
}
.summary-donation-confirmation {
  background: url("../images/bg-summary-donation-confirmation.png") 0 100% repeat-x;
  padding:0 0 15px 0;
  margin-bottom: 15px;
}
.summary-donation-confirmation div {
  line-height: 28px;
  padding-left: 34px;
}
.summary-confirmation-cause{
  background: url("../images/yes-no.png") 0 0 no-repeat;
}
span.yes-no {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/yes-no.png") 0 0 no-repeat;
}
.summary-donor-confirmation div.line-wrapper {
  display: inline-block;
  padding: 7px 0 7px 6px;
}
.summary-donor-confirmation label {
  display: block;
}
.summary-confirmation-document {
  padding-top: 15px;
}
.summary-confirmation-document span,
.summary-confirmation-anonymous span {
  display: inline-block;
  padding-left: 34px;
  line-height: 28px;
  background-image: url("../images/yes-no.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.summary-confirmation-document span.no,
.summary-confirmation-anonymous span.no {
  background-position: 0 100%;
}
/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}